/* ======== Global settings ========  */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 25.5vh;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    /* ---------- Color Set ---------- */
    --hgad-main-color: rgb(220, 164, 25);
    --hgad-main-color2: rgb(225, 180, 5);
    --hgad-sub-color: rgb(184, 139, 26);
    --hgad-txt-color1: blanchedalmond;
    --dark-bgr: rgb(13, 13, 39);
    --light-bgr: rgba(245, 245, 245, 0.901);
    --lines-1: darkgray;
    --lines-2: goldenrod;
    --valid-bckgr: hsla(0, 0%, 10%, 1);
    --achiv-bgr: rgba(45, 34, 4, 0.896);
    --achiv-bgr2: rgb(34, 25, 0);
    --ingr-bkgr: linear-gradient(45deg,
            var(--achiv-bgr2),
            var(--dark-bgr));
    --ingr-bkgr-amaz: linear-gradient(90deg,
            var(--achiv-bgr2),
            black,
            black,
            var(--achiv-bgr));
    --ingr-bkgr-2: linear-gradient(0deg,
            var(--achiv-bgr2),
            black);
}

body {
    width: 100%;
}


/* ======== Main Page settings ========  */

/* ---------- grid map ---------- */

main {
    display: grid;
    grid-template-areas:
        "hero"
        "figuers"
        "contact"
        "services"
        "projects"
        "vision"
        "footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 3vh;
    background: var(--ingr-bkgr);
    color: var(--light-bgr);
    margin-top: 24.5vh;
}



/* ---------- grid areas ---------- */


.hero {
    grid-area: hero;
}

#Services {
    grid-area: services;
}

#Projects {
    grid-area: projects;
}

#k-figuers {
    grid-area: figuers;
}

#Vision {
    grid-area: vision;
}

#Contact {
    grid-area: contact;
}


footer {
    grid-area: footer;
}



/* ======== Header Styles ========  */


#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--ingr-bkgr);
    display: grid;
    grid-template-areas:
        "logo"
        "title"
        "nav"
    ;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--lines-2);
    height: 25vh;
    z-index: 999;
    border-radius: 0 0 0.3em 0.3em;
}

/* ---------- Header nav bar ---------- */


#header nav {
    grid-area: nav;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.nav-link {
    display: inline-block;
    color: var(--light-bgr);
    text-decoration: none;
    font-size: 0.75em;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    padding: 0 1.5em 0 0;
}

.main-title {
    grid-area: title;
    text-align: center;
    letter-spacing: 2px;

}

.main-title h1 {
    font-size: 0.9em;
    color: var(--hgad-sub-color);
}

.nav-link::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0.25em;
    display: inline-block;
    border-right: 0.75em solid transparent;
    border-left: 0.75em solid transparent;
    border-top: 0.75em solid gold;
}

/* ---------- Header img ---------- */

#header-img {
    grid-area: logo;
    display: block;
    height: 12vh;
    width: auto;
    margin: 0.4em auto;
}


/* ======== Sections Styles ========  */

section {
    width: 100%;
    padding: 0.5em;
}

.sec-heading {
    margin: 0.25em auto 0.25em auto;
    text-align: center;
    font-size: 1.6em;
    color: var(--light-bgr);
    box-shadow: 0 0 500px 20px var(--hgad-txt-color1);
    width: fit-content;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid var(--lines-2);
    border-radius: 0.15em 0.25em 0.25em 1em;
}

.small-head {
    margin: 0.21em auto 0.21em auto;
    padding: 0.5em;
    border-bottom: 1px solid var(--lines-2);
    box-shadow: 0 0 500px 20px var(--hgad-txt-color1);
    font-size: 1.5em;
    color: var(--light-bgr);
    text-align: center;
    border-radius: 0.5em;
    width: fit-content;
    padding: 0.5em 0.75em;
}

.sec-subheading {
    font-size: 1.3em;
    text-align: justify;
    font-weight: bold;
}


/* ======== Hero Styles ========  */

.hero {
    background-color: var(--achiv-bgr2);
    border-radius: 0 0 0.5em 0.5em;
    box-shadow: 0 5px 550px 0 var(--hgad-txt-color1);
    border-bottom: 1px solid gold;
}

.b-header {
    display: block;
    text-align: center;
    color: var(--hgad-main-color2);
    letter-spacing: 0.20em;
    line-height: 1.6;
    font-size: 1.9em;
    text-shadow: 4px 0 5px black;
    background: var(--ingr-bkgr-amaz);
}

.header-h {
    color: var(--hgad-txt-color1);
    font-size: 1.2em;
    text-align: center;
    text-decoration-style: wavy;
    text-decoration-color: white;
    background: var(--ingr-bkgr-amaz);
}

.hero-2 {
    color: var(--hgad-txt-color1);
    font-size: 1.2em;
    text-align: center;
    background: var(--ingr-bkgr-amaz);
    padding: 0.5em;
}

.hero>p {
    text-align: justify;
    line-height: 1.5;
}

/* ======== features-ul Styles ========  */


.features-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5em;
}


.features-li {
    display: block;
    height: fit-content;
    padding: 0.75em;
    border: 1px solid var(--lines-1);
    border-radius: 1em;
    background-color: var(--achiv-bgr);
}


.features-li h3 {
    color: var(--hgad-txt-color1);
    text-align: center;
}

.features-li h2 {
    color: var(--hgad-txt-color1);
    text-align: center;
}

.features-li p {
    color: white;
    text-align: justify;
    text-align-last: center;
}

/* ======== video Styles ========  */

iframe {
    display: block;
    width: 100%;
    height: 200px;
    margin: 1em auto;
    border-radius: 0.5em;
    border: 1px dashed var(--hgad-sub-color);

}


/* ======== Projects Styles ========  */


#Projects {
    display: flex;
    flex-direction: column;
}

.projects-ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 0.75em;
}

.proj-li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 90%;
    height: 80px;
    border-bottom: 1px solid var(--lines-2);
    border-right: 1px solid var(--lines-2);
    border-radius: 0.15em 0.25em 0.25em 1em;
    background: var(--ingr-bkgr-amaz);
}

.proj-h2 {
    display: block;
    color: var(--hgad-txt-color1);
    width: 58%;
    text-align: center;
    margin: 0 1em 0 0;
    font-size: 1.1em;
}

.proj-p {
    position: relative;
    width: 38%;
    vertical-align: middle;
    color: var(--hgad-sub-color);
    padding: 1em;
}

.proj-p::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 15px;
    width: 15px;
    height: 15px;
    background: var(--hgad-sub-color);
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
}

.proj-p::after {
    content: "";
    position: absolute;
    left: -4px;
    top: 19px;
    width: 7px;
    height: 7px;
    background: var(--ingr-bkgr);
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
}


/* ======== key figuers Styles ========  */

.k-figuers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.figuer {
    font-size: 1.3em;
    width: 88%;
    text-align: center;
    padding: 0.5em 0 0.5em 1.5em;
    border: 1px solid hsla(55, 100%, 50%, 1);
    background: linear-gradient(123deg,
            hsla(0, 0%, 0%, 1) 0% 30%,
            hsla(45, 100%, 40%, 1),
            hsla(0, 0%, 20%, 1),
            hsla(0, 0%, 0%, 1));
    background-size: 300% 300%;

    animation: metallicShift 12s ease infinite alternate;
    border-radius: 3em;
    position: relative;
}

@keyframes metallicShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.figuer-key {
    position: absolute;
    top: 0.13em;
    left: 0.5em;
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    background: linear-gradient(35deg,
            hsla(35, 100%, 50%, 1),
            white,
            hsla(0, 0%, 4%, 1));
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: textShift 7s ease-in-out infinite alternate;
}

@keyframes textShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



/* ======== Contact Styles ========  */


form {
    margin: 1em auto;
    padding: 0.25em;
    display: grid;
    gap: 0.5em;
    grid-template-areas:
        "name name"
        "email email"
        "phone phone"
        "country state"
        "city project"
        "details details"
        "file file"
        "button button"
    ;
    grid-template-columns: repeat(2, 1fr);


}

#Contact {
    width: 95%;
    margin: 1em auto;
    background: linear-gradient(145deg,
            hsla(45, 100%, 40%, 1),
            hsla(0, 0%, 0%, 1) 20%,
            hsla(0, 0%, 0%, 1)80%,
            hsla(45, 100%, 40%, 1));
    border-radius: 0.75em;
    padding-bottom: 0;
}

select,
textarea,
input {
    display: block;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.35em;
    margin: 0.35em auto 0.5em auto;
    background: var(--ingr-bkgr);
    color: var(--light-bgr);
    border: 1px solid blanchedalmond;
    font-size: 1em;
    transition: all 0.1s ease-in-out;
}

select:valid,
textarea:valid,
input:valid {
    border-color: gold;
    background: var(--valid-bckgr);
    color: var(--light-bgr);
}

select:invalid,
textarea:invalid,
input:invalid {
    border-color: darkred;
}

select:focus,
option:focus,
input:focus {
    border-color: hsla(0, 0%, 30%, 1);
    background: var(--valid-bckgr);
    color: var(--light-bgr);
}


.name {
    grid-area: name;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.country {
    grid-area: country;
}

.governorate {
    grid-area: state;
}

.city {
    grid-area: city;
}

.project {
    grid-area: project;
}

.details {
    grid-area: details;
}

.files {
    grid-area: file;
}

#submit {
    grid-area: button;
    width: 70%;
    margin: 1em auto 0 auto;
    padding: 0.5em 0;
    border-radius: 0.25em 0.5em;
    font-size: 1em;
    font-weight: 700;
    color: whitesmoke;
    background-color: rgb(135, 134, 84);
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    transition: all 0.4s ease-in-out;
}

#submit:hover {
    transform: scale(1.01) translateY(-5px);
    background: var(--ingr-bkgr-amaz);
    border-color: gold;
}

#submit:active {
    transform: scale(1.08);
}


/* ======== Footer Styles ========  */

.footer {
    background-color: var(--valid-bckgr);
    height: 10vh;
    border-top: 1px solid var(--lines-2);
    border-radius: 0.3em 0.3em 0 0;
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: var(--hgad-main-color2);
    font-size: 1.05em;
}

.footer-link a {
    text-decoration: none;
    color: var(--hgad-main-color2);
}

.footer-link a:active,
.footer-link a:hover {
    text-decoration: underline;
    color: var(--hgad-main-color);
}






/* =========================== |||||||||||||||| Media Qureis |||||||||||||||| =========================== */









/* =========================== |||||||||||||||| Landscape for Phones Qurey |||||||||||||||| =========================== */


@media (min-width: 665px) or (orientation: landscape) {
    /* ======== Global settings ========  */

    html {
        scroll-padding-top: 92px;

    }


    /* ======== Main Page settings ========  */

    /* ---------- grid map ---------- */

    main {
        display: grid;
        grid-template-areas:
            "hero hero"
            "figuers figuers"
            "contact contact"
            "projects projects"
            "vision services"
            "footer footer"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 3vh;
        margin-top: 85px;
    }



    /* ======== Header Styles ========  */


    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--ingr-bkgr);
        display: grid;
        grid-template-areas:
            "logo title title"
            "logo title title"
            "logo nav nav"
        ;
        grid-template-columns: 1fr 3fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        border-bottom: 2px solid var(--lines-2);
        height: 94px;
        border-radius: 0 0 0.5em 0.5em;
    }

    /* ---------- Header nav bar ---------- */


    #nav-bar {
        grid-area: nav;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3vh;
        width: 100%;
    }

    .nav-link {
        font-size: 0.99em;
        padding: 0 1.8em 0 0;
    }

    .main-title {
        grid-area: title;
        text-align: center;
        letter-spacing: 1px;

    }

    .main-title h1 {
        font-size: 1.5em;
    }

    .nav-link::after {
        top: 0.25em;
        border-right: 0.75em solid transparent;
        border-left: 0.75em solid transparent;
        border-top: 0.75em solid gold;
    }

    /* ---------- Header img ---------- */

    #header-img {
        grid-area: logo;
        position: absolute;
        top: 1%;
        display: block;
        height: 75px;
        margin: 5%;
    }


    /* ======== Sections Styles ========  */

    section {
        width: 100%;
        padding: 0.2em;
    }

    .sec-heading {
        font-size: 1.5em;
        box-shadow: 0 0 300px 30px var(--hgad-txt-color1);
        padding: 0.25em 0.5em;
        border-radius: 0.25em;
        width: 100%;
    }

    .small-head {
        box-shadow: 0 0 300px 35px var(--hgad-txt-color1);
        font-size: 1.4em;
        padding: 0.25em 0.5em;
        width: 90%;
    }

    .sec-subheading {
        font-size: 1.2em;
    }


    /* ======== Hero Styles ========  */

    .hero {
        display: grid;
        grid-template-areas:
            "intro vid"
            "why core"
        ;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1.5fr;
        gap: 2%;
        background-color: var(--achiv-bgr2);
        border-radius: 0 0 0.5em 0.5em;
        box-shadow: 0 5px 550px 0 var(--hgad-txt-color1);
        border-bottom: 1px solid gold;
    }

    .intro {
        grid-area: intro;
        height: 100%;
        border: 1px solid var(--lines-2);
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;
    }

    .why-hgad {
        grid-area: why;
        height: 100%;
    }

    .core {
        height: 100%;
        grid-area: core;
    }

    .video {
        grid-area: vid;
        height: 100%;
        border: 1px solid var(--lines-2);
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;
    }

    /* ======== video Styles ========  */

    iframe {
        position: sticky;
        top: 0;
        z-index: 1000;
        display: block;
        width: 100%;
        height: 200px;
        margin: 1em auto;
        border-radius: 0.5em;
        border: 1px dashed var(--hgad-sub-color);

    }

    .hero-text {
        display: grid;
        grid-template-areas:
            "b h"
            "b hero2"
        ;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: auto 2fr;
        justify-content: center;
    }

    .b-header {
        grid-area: b;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        letter-spacing: 0.6em;
        font-size: 1.9em;
        text-shadow: 4px 0 5px black;
        flex-shrink: 0;
        background: none;
    }

    .header-h {
        grid-area: h;
        background: none;
        margin-top: 1em;
        font-size: 1.3em;
        text-align: left;
    }

    .hero-2 {
        grid-area: hero2;
        background: none;
        font-size: 1.2em;
        text-align: left;
        margin: 0;
        padding: 0;
    }



    .intro>p {
        text-align: justify;
        line-height: 1.5;
    }

    /* ======== features-ul Styles ========  */


    .why-hgad .features-ul .features-li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20%;
        width: 100%;
        padding: 0.75em;
        border: 1px solid var(--lines-2);
        border-radius: 1em;
        background-color: var(--achiv-bgr);
    }

    .why-hgad .features-ul {
        display: flex;
        gap: 2%;
        height: 87%;
        justify-content: center;
        align-items: center;
    }

    .core .features-ul .features-li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 14%;
        width: 100%;
        padding: 0.75em;
        border: 1px solid var(--lines-2);
        border-radius: 1em;
        background-color: var(--achiv-bgr);
    }

    .core .features-ul {
        display: flex;
        gap: 2%;
        height: 85%;
        justify-content: center;
        align-items: center;
    }

    /* ======== key figuers Styles ========  */

    .k-figuers {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    .figuer {
        font-size: 1.2em;
        width: 43%;
        border: 2px solid hsla(55, 100%, 50%, 1);
    }

    .figuer-key {
        top: 0.2em;
        right: auto;
        text-align: center;
        font-size: 1.3em;
    }



    /* ======== Contact Styles ========  */


    form {
        margin: 1em auto;
        padding: 0.25em;
        display: grid;
        gap: 0.5em;
        grid-template-areas:
            "name email email phone"
            "country state city project"
            "file file file file"
            "details details space space"
            "details details button button"
        ;
        grid-template-columns: repeat(4, 1fr);


    }

    #submit {
        width: 100%;
        height: fit-content;
        margin-bottom: 1em;
    }




    /* ======== Projects Styles ========  */



    .projects-ul {
        gap: 1em;
    }

    .proj-li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.15em;
        padding: 0.25em;
        width: 48%;
        height: 80px;
        border-bottom: 1px solid var(--lines-2);
        border-right: 1px solid var(--lines-2);
        border-radius: 0.15em 0.25em 0.25em 1em;
        background: var(--ingr-bkgr-amaz);
    }

    .proj-h2 {
        font-size: 1em;
    }

    .proj-p {
        width: 40%;
    }






    /* ======== Footer Styles ========  */
    footer {
        width: 100%;
        height: 92px;
        background-color: var(--valid-bckgr);

    }

    .footer {

        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0.75em;
        list-style: none;
        justify-content: center;
        align-items: center;
        color: var(--hgad-main-color2);
        font-size: 1.05em;
    }
}
